# Email to get alerts from LetsEncrypt.
EMAIL=email@email.com

# Domain name or subdomain linked to your server's public IP.
DOMAIN=mydomain.com

# Folder where your flask app is located in the repo. In this example
# it's under ./flask-app/
APP_FOLDER=flask-app

# Application environment name
FLASK_ENV=development

# It can be the application entrypoint (wsgi if using ./flask-app/wsgi.py)
# or the application package (as in this case) as the app's
# configs are under ./flask-app/ytd/__init__.py
FLASK_APP=example_app